body {
	background: #faf8ef;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
}

h1.title {
	font-size: 60px;
    font-weight: bold;
    color: #776e65;
}

.score {
	display: inline-block;
    font-size: 25px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    padding: 0 25px 0 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.score-player1 {
	background-color: #47a447;
}

.score-player2 {
	background-color: #d9534f;
}

.score-draw {
	background-color: #337ab7;
}

.player {
	font-size: 15px;
}

.game-container {
	background: #bbada0;
    border-radius: 6px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

.game-row {
	margin-bottom: 15px;
	padding: 0px;
}

.game-row-last {
	padding: 0px;
}

.cell {
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	background: #eee4da;
	border-radius: 3px;
	display: inline-block;
	width: 30%;
}

.cell-player1:hover {
	background: #47a447;
}

.cell-player2:hover {
	background: #d9534f;
}

.cell-border {
	margin-right: 15px;
}

.new-game {
	background: #eee4da;
	border-radius: 3px;
	padding: 30px;
}

.form-control {
	display: inline-block;
	width: 50%;
}

.start-btn {
	margin-top: 15px;
}

.leaderboard {
	background: #eee4da;
	border-radius: 3px;
	padding: 30px;
}

table {
	width: 100%;
}

thead, tbody, tr, td, th {
	display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
}

tbody {
    height: 150px;
    overflow-y: auto;
}

thead {
    /* fallback */
}

tbody td, thead th {
    width: 49%;
    float: left;
}